    <div class="container">
        <div class="row row-content" ng-controller="DishDetailController">
            <div class="col-xs-12" ng-if="!showDish">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showDish">
                <button class="btn btn-xs btn-primary pull-right" type="button" ui-sref="app.menu">Back to Menu</button>
            <div class="media">
            <div class="col-xs-12">
                <ul class="media-list tab-pane fade in active">
                    <li class="media">
                        <div class="media-left media-middle">
                            <a ui-sref="app.dishdetails({id: dish._id})"><img class="media-object img-thumbnail" ng-src={{dish.image}} alt="Uthappizza"></a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading">{{dish.name}}
                                <span class="label label-danger">{{dish.label}}</span>
                                <span class="badge">{{dish.price | currency}}</span></h2>
                                <p>{{dish.description}}</p>
                            <label for="filter">Sort comments by</label>
                            <input type="text" id="filter" name="filter" ng-model="filtText" placeholder="author, date, rating">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-xs-9 col-xs-offset-1">
                <ul class="media-list tab-pane fade in active" ng-repeat="comment in dish.comments | orderBy:filtText">
                    <li class="media">
                        <blockquote>
                            <p>{{comment.rating}} {{comment.rating == "1" ? "Star" : "Stars"}}</p>
                            <p>{{comment.comment}}</p>
                            <footer>{{comment.author}}, {{comment.date | date: 'MMMM d, yyyy'}}</footer>
                        </blockquote>
                    </li>
                </ul>
            </div>
            <div ng-controller="DishCommentController">
                <form class="form-horizontal" name="commentForm" role="form" ng-submit="submitComment()" novalidate>
                    <div class="col-xs-9 col-xs-offset-1">
                        <ul class="media-list tab-pane fade in active" ng-show="commentForm.$valid">
                            <li class="media">
                                <blockquote>
                                    <p>{{comment.rating}} {{comment.rating == "1" ? "Star" : "Stars"}}</p>
                                    <p>{{comment.comment}}</p>
                                    <footer>{{comment.author}}</footer>
                                </blockquote>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group" ng-class="{ 'has-error' : commentForm.author.$error.required && !commentForm.author.$pristine }">
                            <label for="author" class="col-sm-2 control-label">Your Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="author" name="author" placeholder="Enter Your Name" ng-model="comment.author" required>
                                <span ng-show="commentForm.author.$error.required && !commentForm.author.$pristine" class="help-block">Your name is required.</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : commentForm.rating.$error.required && !commentForm.rating.$pristine }">
                            <label for="rating" class="col-sm-2 control-label">Your Rating</label>
                            <div class="col-sm-10">
                                <label class="radio-inline"><input type="radio" id="rating" name="rating" ng-model="comment.rating" value="1" required>1</label>
                                <label class="radio-inline"><input type="radio" id="rating" name="rating" ng-model="comment.rating" value="2" required>2</label>
                                <label class="radio-inline"><input type="radio" id="rating" name="rating" ng-model="comment.rating" value="3" required>3</label>
                                <label class="radio-inline"><input type="radio" id="rating" name="rating" ng-model="comment.rating" value="4" required>4</label>
                                <label class="radio-inline"><input type="radio" id="rating" name="rating" ng-model="comment.rating" value="5" required>5</label>
                                <span ng-show="commentForm.rating.$error.required && !commentForm.rating.$pristine" class="help-block">You must select a rating.</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : commentForm.comment.$error.required && !commentForm.comment.$pristine }">
                            <label for="comment" class="col-sm-2 control-label">Your Comment</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="comment" name="comment" placeholder="Enter Your Comment" rows="12" ng-model="comment.comment" required></textarea>
                                <span ng-show="commentForm.comment.$error.required && !commentForm.comment.$pristine" class="help-block">Your comment is required.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Submit Comment</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>