<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
   </head>
   <body>
      <div class="container" ng-controller="IndexController">
         <div class="row row-content">
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
               <p style="padding:20px;"></p>
               <h3 align="center">Our Lipsmacking Culinary Creations</h3>
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
               <div ng-if="!showDish">
                  <h3>{{dishMessage}}</h3>
               </div>
               <div class="media" ng-if="showDish">
                  <div class="media media-left media-middle">
                     <img class="media-object img-thumbnail" ng-src={{dish.image}} alt="{{dish.name}}">
                  </div>
                  <div class="media-body">
                     <h3 class="media-heading">{{dish.name}}
                        <span class="label label-danger">{{dish.label}}</span>
                        <span class="badge">{{dish.price | currency}}</span>
                     </h3>
                     <p>{{dish.description}}</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="row row-content">
            <div class="col-xs-12 col-sm-3">
               <p style="padding:20px;"></p>
               <h3 align="center">This Month's Promotions</h3>
            </div>
            <div class="col-xs-12 col-sm-9">
               <div ng-if="!showPromotion">
                  <h3>{{promotionMessage}}</h3>
               </div>
               <div class="media" ng-if="showPromotion">
                  <div class="media-left media-middle">
                     <img class="media-object img-thumbnail" ng-src={{promotion.image}} alt="{{promotion.name}}">
                  </div>
                  <div class="media-body">
                     <h3 class="media-heading">{{promotion.name}}
                        <span class="label label-danger">{{promotion.label}}</span>
                        <span class="badge">{{promotion.price | currency}}</span>
                     </h3>
                     <p>{{promotion.description}}</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="row row-content">
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
               <p style="padding:20px;"></p>
               <h3 align="center">Meet our Culinary Specialists</h3>
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
               <div ng-if="!showLeader">
                  <h3>{{leaderMessage}}</h3>
               </div>
               <div class="media" ng-if="showLeader">
                  <div class="media-left media-middle">
                     <img class="media-object img-thumbnail" ng-src={{leader.image}} alt="{{leader.name}}">
                  </div>
                  <div class="media-body">
                     <h3 class="media-heading">{{leader.name}} <small>{{leader.designation}} ({{leader.abbr}})</small></h3>
                     <p>{{leader.description}}</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>